<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.estudiosoapp23">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_estudioso"
        android:label="Estudioso"
        android:roundIcon="@mipmap/ic_estudioso_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MateriaActivity"></activity>
        <activity android:name=".ConsRevisoesActivity" />
        <activity android:name=".ConsQuestoesActivity" />
        <activity android:name=".ConsCronogramaActivity" />
        <activity android:name=".ConsCicloActivity" />
        <activity android:name=".RevisoesActivity" />
        <activity android:name=".QuestoesActivity" />
        <activity android:name=".NovaSessaoActivity" />
        <activity android:name=".CicloActivity" />
        <activity android:name=".CronogramaActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>